<h1><%= @recipe.name %> Shopping List</h1>

<h2>Ingredients</h2>

<% if @data[:total_items] == 0 %> 
  <p>You have all the ingredients you need!</p>
<% else %>
  <p>Total food items: <%= @data[:total_items] %></p>
  <p>Total price: $<%= @data[:total_price] %></p>
  <% @missing_foods.each do |missing| %>
    <p><%= missing.food.name %>: <%= missing.quantity %> <%= missing.food.measurement_unit %></p>
  <% end %>
<% end %>
