<h1>Foods!</h1>


<%= link_to 'Add a food', new_user_food_path(@user) %>

<div>
  <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @food.each do |food| %>
        <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td><%= food.price %>$</td>
            <td><%= food.quantity %></td>
            <td><%= link_to 'Remove', user_foods_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>

