<h1>Foods 🍔</h1>

<div class="table-container">
  <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Measurement Unit</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @food.each do |food| %>
        <tr>
            <td><%= food.name %></td>
            <td><%= food.measurement_unit %></td>
            <td>$ <%= food.price %></td>
            <td><%= food.quantity %></td>
            <td><%= button_to 'Remove', user_food_path(@user, food), method: :delete%>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= link_to 'Add a food', new_user_food_path(@user), class: "add-food-link" %>
</div>
