<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'My Foods', user_foods_path(current_user) %>
          <%= link_to 'My Recipes', user_recipes_path(current_user) %>
          <%= link_to 'Public Recipes', public_recipes_path %>
        <% end %>
      </div>

      <div class="nav-item">
        <% unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
            <% if user_signed_in? %>
              <%= link_to 'Reset Password', edit_user_registration_path %>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %>
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path %>
              <%= link_to 'Login', new_user_session_path %>
            <% end %>
        <% end %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
